<html>
<head>
<title>Image Store - {% block title %} {% endblock %}</title>
<link rel="stylesheet" href="/mlgb/media/css/slimbox2.css" type="text/css" media="screen" />
<script src="/mlgb/media/js/jquery.js" type="text/javascript"></script>
<script src="/mlgb/media/js/slimbox2.js" type="text/javascript"></script>
<style type="text/css" >
body { margin: 30px; font-family: sans-serif; background: #fff; }
h1 { background: #ccf; padding: 20px; }
h2 { background: #ddf; padding: 10px 20px; }
h3 { background: #eef; padding: 5px 20px; }
table { width: 100%; }
table th { text-align: left; }
</style>
</head>
<body>
{% block content %} {% endblock %}
</body>
</html>