{% extends "feeds/Gbase.html" %}
{% block title %}Item List{% endblock %}
{% block content %}

<p><a href="{% url index %}">&laquo; Back to main page</a></p>
<h2>Books with images</h2>
{% if object_list %}
<table>
<tr>

</tr>
{% for item in object_list %}
{% if item.photo_set.count %}
<tr>
<td>{{item.shelfmark_1}} {{item.shelfmark_2}} {{item.evidence}}{{item.author_title}}-{{item.modern_location_1}} {{item.modern_location_2}},{{item.provenance}}</td>
<td>

<a href="{{ item.get_absolute_url}}" >
<img src="{{ item.photo_set.all.0.image.thumb_url }} " />
</a>

</td>

</tr>
{% endif %}
{% endfor %}
</table>
{% else %}
<p>There are currently no items to display.</p>
{% endif %}
{% endblock %}



