<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" href="/mlgb/media/css/jquery.treeview.css" />
    <link rel="stylesheet" href="/mlgb/media/css/red-treeview.css" />
	<link rel="stylesheet" href="/mlgb/media/css/demo/screen.css" />
	<title>MLGB Demo Site</title>
	<script src="/mlgb/media/js/jquery.js" type="text/javascript"></script>
	<script src="/mlgb/media/js/jquery.cookie.js" type="text/javascript"></script>
	<script src="/mlgb/media/js/jquery.treeview.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function() {
			$("#tree").treeview({
				collapsed: true,
				animated: "medium",
				control:"#sidetreecontrol",
				prerendered: true,
				persist: "location"
			});
		})
	</script>
</head>
<body>
<h1 id="banner">MLGB3 Demo</h1>
<br>
<div id="main">
	<div><br>suffix '*'-wildcard
		<form action="" method="get">
		  <input name="s" type="text" size="35" />&nbsp;in&nbsp; 
		  <select name="se">
			<option></option>
          	<option>Author/Title</option>
	     <option>Modern Library/Institution</option>
            <option>Medieval Library</option>
            
          </select>
		  <select name="pa">
			<option>All</option>
          	<option>100</option>
            <option>200</option>
            <option>500</option>
			<option>1000</option>
          </select>
		  <input type="submit" value="Go" /> <label></label>
		</form>
	</div> 

	{% if nodis %}
	
	<fieldset>
	<legend align="center" style="font-weight:;color:#000066">{{no}} retrieval on "{{s}}" </legend>{% endif %}
	{% if lists %}
    <div id="sidetree">
	  <div class="treeheader">&nbsp;</div>
		{% autoescape off %}
			 {{ lists }}
		{% endautoescape %}
	</div>
	{% endif %}
	{% if nodis %}</fieldset>{% endif %}
</div>
</body>
</html>
