
{% block title %}{{object.evidence}}{{ object.author_title }}{% endblock %}
{% block content %}

<table><tr>
<td>Provenance:</td><td>{{object.provenance}}</td>
</tr>
<tr>
<td>Location:</td><td>{{object.modern_location_2}},{{object.modern_location_1}} </td>
</tr>
<tr>
<td>Shelfmark:</td><td>{{object.shelfmark_1}} {{object.shelfmark_2}}</td>
</tr>
<tr>
<td>Author/Title:</td><td>{{object.evidence}}{{ object.author_title }}</td>
</tr>
{% for contains in object.contains_set.all %}

<tr>
<td>Contents of the book:</td><td>{{ contains.contains }}&nbsp;&nbsp;<a href="{{ contains.urls }}"><img src="/mlgb/media/img/book.png" alt="Link to the Book" border="0" /></a></td>
</tr>

{% endfor %}
<tr>
</tr>
<tr>
<td>Date:</td><td>{{object.date}}</td>
</tr>
<tr>
<td>Pressmark:</td><td>{{object.pressmark}}</td>
</tr>
<tr>
<td>Medieval Catalogue:</td><td>{{object.medieval_catalogue}}</td>
</tr>
<tr>
<td>Notes:</td><td>{{object.notes}}</td>
</tr>
{% for photo in object.photo_set.all %}
<tr>
<td>
<a href="{{ photo.get_absolute_url }}"><img src=" {{ photo.image.thumb_url }}" /></a>
</td>
<td><li>{{ photo.caption }}</li><li>{{ photo.title }}</li></td>
</tr>
{% endfor %}
</table>
{% endblock %}









