/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0 0 0 0;
	padding: 0;
	background: #FFFFFF;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666666;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

a {
	color: #5D0E0E;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

.image {
	float: left;
	margin: 0 15px 10px 0;
}

/* Header */

#header {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	background: #000000 url(../img/img1.jpg);

}
#header img {
		border:none;
}
#header h1, #header h2, #header div,{
	float: left;
	padding: 0px 0 0 0px;
	font-size: 18px;
}
#mellon img,{
	float: right;
	padding: 16px 40px 0 0%;
	width:258px;
}

#mlgb3 h1,{
	float: right;
	padding: 0px 55px 0 0%;
	width:200px;
	font-size: 48px;
}
#header a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Pages */

#pages {
	clear: both;
	width: 100%;
	height: 43px;
	margin: 0 auto;
	background: #000000 url(../img/img2.gif);

}

#pages h2 {
	display: none;
}

#pages ul {
	float: right;
	margin: 0;
	padding: 7px 0 0 0;
	list-style: none;
}

#pages li {
	display: inline;
}

#pages a {
	display: block;
	float: left;
	height: 25px;
	margin: 0 2px 0 0;
	padding: 7px 15px 0 15px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: -1px;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

#pages a:hover, #pages .active a {
	padding-left: 14px;
	padding-right: 14px;
	background: #580505 url(../img/img3.gif);
	border: 1px solid #000000;
	border-bottom: none;
}

/* Boxed */

.boxed {
	float: right;
	width: 230px;
	margin-bottom: 10px;
	padding-left: 10px;
}

.boxed .heading {
	height: 26px;
	padding: 6px 0 0 10px;
	background: #5F1010 url(../img/img4.gif);
	border: 1px solid #000000;
	border-bottom: none;
	font-size: 1em;
	color: #FFFFFF;
}

.boxed .content {
	background: #F2F2F2 url(../img/img5.gif) repeat-x left bottom;
}

.boxed .content ul {
	margin: 0;
	padding: 10px;
	list-style: none;
}

.boxed .content li {
	padding: 3px 0;
	border-top: 1px dotted #5D0E0E;
}

.boxed .content li.first {
	border: none;
}

.boxed .content a {
	padding-left: 10px;
	background: transparent url(../img/img8.gif) no-repeat left center;
	text-decoration: none;
	color: #5D0E0E;
}

.boxed .content a:hover {
	color: #FF0000;
}

/* Posts */

.post {
	background: #F2F2F2 url(../img/img5.gif) repeat-x left bottom;
}

.post .title {
	padding: 0 0 0 13px;
	background: #FFFFFF url(../img/img9.gif) no-repeat left center;
	color: #000000;
}

.post .posted {
	padding: 2px 10px 4px 10px;
	background: #5F1010 url(../img/img4.gif);
	border: 1px solid #000000;
	border-bottom: none;
	font-size: .7em;
	font-weight: normal;
	color: #FFFFFF;
}

.post .story {
	padding: 10px 20px;
}

.post .meta {
	padding: 1px 10px;
}

/* Content */

#content {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
}
/* about */
.about {
	width:80%;
	margin-left:10%;
	margin-bottom:1%;
	background: #F2F2F2 url(../img/img5.gif) repeat-x left bottom;
}
.about p{
	float: left;

	margin: 5px auto 5px auto;
	padding: 10px 10px 10px 50px;
	
}
.about .title {
	padding: 0 0 0 13px;
	background: #FFFFFF url(../img/img9.gif) no-repeat left center;
	color: #000000;
}
.about .posted {
	padding: 2px 10px 4px 10px;
	background: #5F1010 url(../img/img4.gif);
	border: 1px solid #000000;
	border-bottom: none;
	font-size: .7em;
	font-weight: normal;
	color: #FFFFFF;
}
.about .heading {
	height: 26px;
	padding: 6px 0 0 10px;
	background: #5F1010 url(../img/img4.gif);
	border: 1px solid #000000;
	border-bottom: none;
	font-size: 1em;
	color: #FFFFFF;
}

.about .content {
	background: #F2F2F2 url(../img/img5.gif) repeat-x left bottom;
}

.about .content ul {
	margin: 0;
	padding: 10px;
	list-style: none;
}

.about .content li {
	padding: 3px 0;
	border-top: 1px dotted #5D0E0E;
}

.about .content li.first {
	border: none;
}

.about .content a {
	padding-left: 10px;
	background: transparent url(../img/img8.gif) no-repeat left center;
	text-decoration: none;
	color: #5D0E0E;
}

.about .content a:hover {
	color: #FF0000;
}
/* Posts */

#posts {
	float: left;
	/*width: 1000px;*/
	width:75%;
	margin-bottom:5px;
}

/* Archives */

#archives {
}

/* Search */

#search form {
	margin: 0;
	padding: 20px 10px;
}

#s, se, pa{
	width: 160px;
	padding: 2px 1px;
	background: #894F4F url(../img/img6.gif) repeat-x;
	border: 1px solid #000000;
	font: bold 10px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#submit1 {
	width: 30px;
	background: #5F1010 url(../img/img7.gif) repeat-x;
	border: 1px solid #000000;
	text-transform: uppercase;
	font: bold 9px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

/* Footer */
#footer {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: #FFFFFF url(../img/img5.gif) repeat-x;
}

#footer p {
	padding: 10px;
	font-size: .8em;
}
/* ----------  Banner -------------*/
#oxbanner {
	width: 384px;
	margin-left:0;
}
#mellonbanner {
	width: 584px;
	margin-right:20px;
}
/*---------image store------------------*/
#mlgbstore {
	margin-left:30px;

}


}
#mlgbstore ul {
	margin: 0px;
	padding: 10px;
	list-style: none;
}
#mlgbstore img {
	border:none;
	
	
}
#mlgbstore li {
	padding: 3px 0;
	/*border-bottom: 1px dotted #5D0E0E;*/
}
#mlgbstoreimg {
	width:200px;
}
#mlgbstorelist {
	margin-left:10px;
	color:#006;

	
}
/*---------image store end---------------*/
#mlgbdetail {
	margin-left:20px;

}

#mlgbdetailtext {
	text-transform:uppercase;
	text-align:left;
       vertical-align:top;
	font-weight:bold;
	width:17%;
}
#mlgbdetailvalue {
	margin-left:10px;
	color:#333;

}
#mlgbdetailvalue p{
	margin:0;
	margin-top:5px;
}
#mlgbdetail ul {
	margin: 0px;
	padding: 10px;
	list-style: none;
}
#mlgbdetail img {
	border:none;
	
	
}
#mlgbdetail li {
	padding: 3px 0;
	/*border-bottom: 1px dotted #5D0E0E;*/
}
#mlgbtreeview {
	margin-left:30px;
}
/*------------------------------------*/
#posts .content {
	/*background: #F2F2F2 url(../img/img5.gif) repeat-x left bottom;*/
}

#posts .content ul {
	margin: 0;
	padding: 10px;
	list-style: none;
}

#posts .content li {
	padding: 3px 0;
	/*border-top: 1px dotted #5D0E0E;*/
}

#posts .content li.first {
	border: none;
}

#posts .content a {
	padding-left: 10px;
	/*background: transparent url(../img/img8.gif) no-repeat left center;*/
	text-decoration: none;
	color: #5D0E0E;
}

#posts .content a:hover {
	color: #FF0000;
}
