
{% extends "base.html" %}
{% block title %}
<title>MLGB3 Homepage</title>
{% endblock %}
 
{% block js %}
<script type='text/javascript'>
$().ready(function() {
 
	function formatData(data) {
        return data ;
    }
	$("#s").autocomplete("mlgb/fulltext", {
		width: 210,
		dataType: "json",
		selectFirst: false,
        parse: function(data) {
            return $.map(data, function(row) {
                return {
                    data: row,
                    value: row,
                    result: row
                }
            });
        },
        formatItem: function(item) {
            return formatData(item);
        }
    });
	
 });
</script>

{% endblock %}
{% block search %} 
  <div id="search" class="boxed">
    <h2 class="heading">Search</h2>
    <div class="content">
      <form method="get" action="/mlgb/">
        <div>
          <input type="text" id="s" name="s" value="" size="35" />
          <input type="submit" id="submit1" value="Go" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% block archives %} 
  <div id="archives" class="boxed">
    <h2 class="heading">Categories</h2>
    <div class="content">
      <ul>
        <li class="first"><a href="/mlgb/category/?se=1">Medieval Library</a> ({{lists1}})</li>
        <li><a href="/mlgb/category/?se=2">Library/Institution</a> ({{lists3}})</li>
        <li><a href="/mlgb/category/?se=3">Location</a> ({{lists2}})</li>
      </ul>
    </div>
  </div>
{% endblock %}
