<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Untitled Document</title>
<link href="lists.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="search" id="search">
<form action="" method="" name="search" class="search" id="search" onSubmit="submit()">
  <input name="Search" type="text" size="35" readonly="true"/>
</form>
</div>

<div class="lists" id="lists">
<span class="head1">
Exeter Chathedral
</span>
<span class="head2">
Bodleian Library</span>
<span class="detail">
Ii.2.11 eGospels etc. s. xi Leofric Detached leaves are Exeter Cathedral 3501 folsv. 0--7 
</span>
</div>

</body>
</html>
