<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>MLGB</title>
<link href="../media/css/lists.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div >
<form action="" method="get">
  <input name="Search" type="text" size="35" /> <input type="submit" value="Go" />
</form>
</div>

<div class="lists" id="lists">

{% if lists %}
	{% autoescape off %}
		 {{ lists }}
	{% endautoescape %}
{% endif %}



</div>

</body>
</html>
