{% extends "base.html" %}
{% block title %}
<title>{{object.evidence}}{{ object.author_title }}</title>
{% endblock %}

{% block posts %}
 <div id="posts" class="post">
    <h3 class="posted">{{object.evidence}}{{ object.author_title }} - {{object.provenance}}</h3>
        <table id="mlgbdetail">
            {% for photo in object.photo_set.all %}
            <tr><td>
            <a href="{{ photo.image.url }}" rel="lightbox"  title="{{ photo.title }}"><img src=" {{ photo.image.thumb_url }}" /></a>
            </td>
            <td>&nbsp;&nbsp;{{ photo.caption }}&nbsp;&nbsp;<a href="/mlgb/book/{{object.id}}/"><img src="/mlgb/media/img/detail.gif" alt="detail" border="0" /></a>
            </td></tr>
            {% endfor %}
        </table>
 </div>
{% endblock %}
{% block search %}  
  <div id="search" class="boxed">
    <h2 class="heading">Search</h2>
    <div class="content">
     <form action="/mlgb/" method="get">
      <div>
		  <input name="s" type="text" size="30" /><br > <br >
		  <select name="se">
			<option></option>
          	<option>Author/Title</option>
	     <option>Modern Library/Institution</option>
            <option>Medieval Library</option>
            
          </select><br ><br >
		  <select name="pa">
			<option>All</option>
          	<option>100</option>
            <option>200</option>
            <option>500</option>
			<option>1000</option>
          </select><br ><br >
		  <input type="submit" value="Go" /> <label></label>
          </div>
		</form>

    </div>
  </div>
  
{% endblock %}
{% block archives %} 
  <div id="archives" class="boxed">
   
  </div>
{% endblock %}
{% block useful_links %} 
  <div id="Useful_Links" class="boxed">
   
  </div>
{% endblock %}








